<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vivliostyle で本を作ろう Vol. 3
    link(rel="stylesheet", href="/bundle.css")
  body

    #cover
      h1 Vivliostyle で本を作ろう Vol. 3

    h2.toc-header 目　次

    nav#toc(role="doc-toc")
      ul
        li
          a(href="akabeko/index.html")
            .content
              .title Vivliostyle Flavored Markdown について
              .author akabeko
          a(href="kondoyuko/index.html")
            .content
              .title 「CSS組版全然わからない！」からはじめるVivliostyle同人誌制作超入門
              .author kondoyuko
